.NavigatorList ul{
    list-style:none;
    margin: 0;
    padding: 2%;
    background-color:#D0CECE;
    font-weight:bold;
    -moz-column-count: 3;
    -moz-column-gap: 0;
    -webkit-column-count: 3;
    -webkit-column-gap: 0;
    column-count: 3;
    column-gap: 0;
}
.NavigatorList:nth-child(2) ul, .NavigatorList:nth-child(3) ul, .NavigatorList:nth-child(4) ul{margin-top:-1.5vw;}
.NavigatorList:nth-child(1) ul, NavigatorList:nth-child(1) .arrow-down{ background-color:#3B3838; color:white;}
.NavigatorList:nth-child(2) ul, NavigatorList:nth-child(2) .arrow-down{ background-color:#AFABAB; color:#404040;}
.NavigatorList:nth-child(3) ul, NavigatorList:nth-child(3) .arrow-down{ background-color:#D0CECE; color: #4e4e4e;}
.NavigatorList:nth-child(4) ul, NavigatorList:nth-child(4) .arrow-down{ background-color:#E7E6E6; color:#E7E6E6;}

.NavigatorItem:nth-child(1){  margin-top:0;  }
.NavigatorItem {
    font-size:1.4em;
    margin: 3%;
    cursor :pointer;
}
.NavigatorItem:hover{
    color:black;
    text-decoration:underline;
}
.arrow-down{
    position:relative;
    width: 0;
    height: 0;
    border-left: 5vw solid transparent;
    border-right: 5vw solid transparent;
    border-top: 1.5vw solid red;
    z-index:100;
}
.arrow-down > .NavigatorList:nth-child(1){
    border-left: 5vw solid transparent;
    border-right: 5vw solid transparent;
    border-top: 1.5vw solid blue;
}
.arrow-down.left {  margin-left:4%;  }
.arrow-down.middle {  margin-left:40%;  }
.arrow-down.right { margin-left:73%; }